<%= render "nav" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 header text-center">
			<h3>Hi, <%= current_user.name %>, Just Remember- The World Is Amazing... You're Never Alone...</h3><br>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center yourPosts">
			<h2>Your Posts</h2>
		</div>
	</div>
	<% @user.posts.each do |post| %>
		<div class="row ">
			<div class="col-md-6 col-md-offset-3 singlePost">
				<% user = User.find(post.user_id) %>
				<h5>destination: <%= post.destination %></h5>
				<p>description: <%= post.description %></p>
				<div class="text-right btns">
					<div class="deletebtn">
						<%= button_to "Delete", post_path(post), method: :delete, class: "btn btn-primary" %>
					</div>
					<div class="editbtn">
						<%= link_to "Edit", edit_post_path(post), class: "btn btn-primary" %>
					</div>
				</div><hr>
				<% post.comments.each do |comment| %>
					<div class="row commentRow">
						<div class="col-md-12 commentLine">
							<div class="comment">
								<p><%= comment.line %></p>	
							</div>
						</div>	
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
