<%= render "users/nav" %>
<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<h1>Inbox</h1>
	</div>
</div>
<% current_user.chats.each do |chat| %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 messageDiv">
			<%  chat.messages.each do |message| %>
				<p><%= message.content %></p>
			<% end %>
			<%= form_for :chat, :url => chats_path do |f| %>
				<div class="row">
					<div class="col-md-10">
						<div class="form-group">
							<% @chat_id = chat.id %>
							<%= f.text_field :content, class: "form-control", placeholder: "Reply..." %>   
							<%= f.hidden_field :chat_id, :value => @chat_id %>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<%= f.submit "Send", class: "btn btn-primary btn-block" %>
						</div>
					</div>	
				</div>
			<% end %>
		</div>
	</div>
<% end %>
