<%= render "users/nav" %>
<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<h1>Inbox</h1>
	</div>
</div>
<% current_user.chats.each do |chat| %>
	<%  chat.messages.each do |message| %>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<p><%= message.content %></p>
			</div>
		</div>
		<%= form_for :message, :url => messages_path do |f| %>
					<div class="row">
						<div class="col-md-9">
							<div class="form-group">
								<%= f.text_field :content, class: "form-control", placeholder: "sent an Answer" %>
								
								<%= f.hidden_field :user_id, :value => @user_id %>    
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group text-center">
								<%= f.submit "Send", class: "btn btn-primary btn-block" %>
							</div>
						</div>	
					</div>
				<% end %>
	<% end %>
<% end %>
