<%= render "users/nav" %>
<div class="container-fluid">
	<div class="row">
			<div class="col-md-12 edit text-center">
				<h3>Any Change?</h3><br>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 text-center yourPosts">
				<h2>Edit Your Match Request</h2><br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= form_for @post do |f| %>
					<div class="form-group text-center">
						<%=	f.label :Destination %>
						<%= f.text_field :destination, :size => 70 %>
					</div>
					<div class="form-group text-center">
						<%=	f.label :Description %>
						<%= f.text_field :description, :size => 70 %>
					</div>
					<div class="form-group text-center">
							<%= f.submit "Update My Match Request!", class: "btn btn-primary editBtn" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

