<%= render "users/nav" %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center title">
			<h1>TravelBoard</h1>
		</div>
	</div>
	<% @posts.reverse.each do |post| %>
		<div class="row ">
			<div class="col-md-6 col-md-offset-3 singlePost">
				<% user = User.find(post.user_id) %>
				<h5><%= user.name %> is traveling to <%= post.destination %></h5>
				<p><%= post.description %></p><hr>
				<% if current_user.id != post.user_id %>
					<%= form_for :message, :url => messages_path do |f| %>
						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<%= f.text_field :content, class: "form-control", placeholder: "sent a private message to #{user.name.capitalize}" %>
									<% @user_id = user.id %>
									<%= f.hidden_field :user_id, :value => @user_id %> 
									<%= f.hidden_field :sender_name, :value => user.name %>   
									<%= f.hidden_field :post_destination, :value => post.destination %> 
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group text-center">
									<%= f.submit "Send", class: "btn btn-primary btn-block" %>
								</div>
							</div>	
						</div>
					<% end %>
				<% end %>
				<%= form_for :comment, :url => comments_path do |f| %>
					<div class="row">
						<div class="col-md-9">
							<div class="form-group">
								<%= f.text_field :line, class: "form-control", placeholder: "comment..." %>
								<% @post_id = post.id %>
								<% @user_id = current_user.id %>
								<%= f.hidden_field :post_id, :value => @post_id %>
								<%= f.hidden_field :user_id, :value => @user_id %>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group text-center">
								<%= f.submit "Comment", class: "btn btn-primary btn-block" %>
							</div>
						</div>	
					</div>
				<% end %>
				<% if post.comments.length>0 %>
					<p>Comments:</p>
				<% end %>
				<% post.comments.each do |comment| %>
					<div class="row commentRow">
						<div class="col-md-12 commentLine">
							<div class="comment">
								<p><%= comment.line %></p>	
							</div>
							<% if current_user.id == comment.user_id %>
								<div class="text-right commentDelete btnDelete">
									<%= button_to "Delete", comment_path(comment), method: :delete, class:"btn btn-primary CommentDeleteBtn"%>
								</div>
							<% end %>
						</div>	
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
