<!DOCTYPE html>
<html>
<head>
  <title>Traveling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @new_user ? 'new_user' : ''%> <%= @welcome ? 'welcome' : ''%> <%= @post_index ? 'post_index' : ''%> ">
<!-- flash messages for errors -->
<div class="continer-fluid">
    <div class="row message">
       <div class="col md-12 text-left">
          <% flash.each do |name, msg| %>
            <div><%= msg %></div>
          <% end %>
        </div>
    </div>
</div>	
<%= yield %>

</body>
</html>
